<form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
    <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput name="nome" [ngModel]="usuario.nome" required #nome>
        <!-- <div>
            {{ nome.className }}
        </div> -->
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput name="email" [ngModel]="usuario.email" required email>
    </mat-form-field>
    <button mat-raised-button color="primary">Primary</button>
</form> 