<h2>ngContent</h2>

<div class="card card-default">
    <div class="card-heading">
        <ng-content select=".titulo"></ng-content>
    </div>
    <div class="card-body">
        <ng-content select=".corpo"></ng-content>
    </div>
</div>


<!-- <table class="table">
    <thead>
        <tr>
            <th scope="col">exemplo de ngContent</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><ng-content select=".titulo"></ng-content></td>
            <td><ng-content select=".corpo"></ng-content></td>
        </tr>
        
    </tbody>
</table>     -->