<div class="mb-3" style="margin-top: 10px">
  <input
    class="form-control"
    type="file"
    id="customFile"
    (change)="onChange($event)"
    multiple
  />
  <label class="custom-file-label" for="customFile" id="customFileLabel"
    >Nenhum arquivo selecionado</label
  >
</div>

<div class="progress">
  <div
    class="progress-bar"
    role="progressbar"
    [style.width]="progress + '%'"
    aria-valuenow="25"
    aria-valuemin="0"
    aria-valuemax="100"
  >
    {{ progress }}%
  </div>
</div>

<div style="margin-top: 10px">
  <button
    type="button"
    class="btn btn-primary"
    (click)="onUpload()"
    [disabled]="!files"
  >
    Upload
  </button>
</div>
