<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <mat-grid-list cols="4" rowHeight="3:1">
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome">
                <!-- <mat-error>Campo obrigatório</mat-error> -->

                <!-- forma de validação de erro da loiane aula 112 -->
                <app-error-msg class="alert" [control]="formulario.get('nome')" label="Nome"></app-error-msg>
                
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="formulario.get('email').hasError('emailInvalido')"> Email já cadastrado!</mat-error>
                <mat-error *ngIf="formulario.get('email').status === 'VALID'"> Email válido!</mat-error>
                <mat-error> Campo obrigatório</mat-error>                
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Confirmar Email</mat-label>
                <input matInput formControlName="confirmarEmail">
                <mat-error *ngIf="formulario.get('confirmarEmail').hasError('equalsTo')"> Email não confere</mat-error>

            </mat-form-field>
        </mat-grid-tile>

        <div formGroupName="endereco">
            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>CEP</mat-label>
                    <input matInput formControlName="cep">
                    <mat-error *ngIf="formulario.get('endereco.cep').hasError('required')"> Campo obrigatório
                    </mat-error>
                    <span *ngIf="formulario.get('endereco.cep').hasError('cepInvalido')" class="alert">CEP inválido.
                    </span>

                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Número</mat-label>
                    <input matInput formControlName="numero">
                    <mat-error> Campo obrigatório</mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Rua</mat-label>
                    <input matInput formControlName="rua">
                    <mat-error> Campo obrigatório</mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Bairro</mat-label>
                    <input matInput formControlName="bairro">
                    <!-- <span *ngIf="!formulario.get('endereco.bairro').valid && formulario.get('endereco.bairro').touched"
                        class="alert">bairro é obrigatório </span> -->
                    <mat-error> Campo obrigatório</mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Cidade</mat-label>
                    <input matInput formControlName="cidade">
                    <mat-error> Campo obrigatório</mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="estado">
                        <mat-option *ngFor="let estado of estados | async" [value]="estado.sigla">
                            {{ estado.nome}} </mat-option>
                    </mat-select>
                    <mat-error> Campo obrigatório</mat-error>
                </mat-form-field>
            </mat-grid-tile>
        </div>

        <div class="form-group">
            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Cargo</mat-label>
                    <mat-select formControlName="cargo" [compareWith]="compararCargos">
                        <mat-option *ngFor="let cargo of cargos" [value]="cargo">
                            {{ cargo.desc}} </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
        </div>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Tecnologias</mat-label>
                <mat-select multiple formControlName="tecnologias">
                    <mat-option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome">
                        {{ tecnologia.desc}} </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-label>Newsletter</mat-label>
            <mat-radio-group aria-label="Select an option" formControlName="newsletter">
                <div *ngFor="let item of newsletterOp">
                    <mat-radio-button [value]="item.valor"> {{ item.desc}} </mat-radio-button>
                </div>
            </mat-radio-group>
        </mat-grid-tile>

        <section class="form-group">
            <mat-grid-tile>
                <mat-checkbox class="example-margin" formControlName="termos">Aceito os termos.</mat-checkbox>
                <mat-error *ngIf="!formulario.get('termos').valid"> Campo obrigatório!</mat-error>
            </mat-grid-tile>
        </section>

        <mat-grid-tile class="checkbox" colspan="4">
            <div class="checkbox" formArrayName="frameworks"
                *ngFor="let item of formulario.get('frameworks')['controls']; let i = index">
                <mat-checkbox type="checkbox" [formControlName]="i"> {{ frameworks[i] }} </mat-checkbox>
            </div>
            <span *ngIf="!formulario.get('frameworks').valid" class="alert"> Selecione uma opção.</span>
        </mat-grid-tile>


    </mat-grid-list>

    <!-- <mat-card-actions style="text-align: center;"> -->
    <div style="text-align: center;">
        <button mat-raised-button color="primary">Submit</button>
        <button class="btn btn-default" mat-raised-button color="basic" (click)="resetar()">Cancel</button>
        <button class="btn btn-info" mat-raised-button color="accent" (click)="setarCargo()">Cargo</button>
        <button class="btn btn-info" mat-raised-button color="accent" (click)="setarTecnologias()">Tecnologias</button>
    </div>
    <!-- </mat-card-actions> -->
    <app-form-debug [form]="formulario"></app-form-debug>
</form>