<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <mat-grid-list cols="4" rowHeight="3:1">
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome">
                <span *ngIf="!formulario.get('nome').valid && formulario.get('nome').touched" class="alert">Nome é obrigatório.</span>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
                <span *ngIf="!formulario.get('email').valid && formulario.get('email').touched" class="alert">Campo inválido.</span>
            </mat-form-field>
        </mat-grid-tile>

    </mat-grid-list>

    <div style="text-align: center;">
        <button mat-raised-button color="primary">Submit</button>
        <button type="button" mat-raised-button color="basic" (click)="resetar()">Cancel</button>
    </div>
    <app-form-debug [form]="formulario"></app-form-debug>
</form>