<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <mat-grid-list cols="4" rowHeight="3:1">
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome">
                <span
                    *ngIf="!formulario.get('nome').valid && (formulario.get('nome').touched || formulario.get('nome').dirty)"
                    class="alert">Nome é
                    obrigatório.</span>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
                <span *ngIf="!formulario.get('email').valid && formulario.get('email').touched" class="alert">Campo
                    inválido.</span>
            </mat-form-field>
        </mat-grid-tile>

        <div formGroupName="endereco">
            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>CEP</mat-label>
                    <input matInput formControlName="cep" (blur)="consultaCEP()">
                    <span *ngIf="!formulario.get('endereco.cep').valid && formulario.get('endereco.cep').touched"
                        class="alert">CEP é
                        obrigatório </span>
                    <!-- <span *ngIf="!cep.valid && cep.touched" class="alert">CEP é obrigatório</span> -->
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Número</mat-label>
                    <input matInput formControlName="numero">
                    <span *ngIf="!formulario.get('endereco.numero').valid && formulario.get('endereco.numero').touched"
                        class="alert">numero é obrigatório </span>
                    <!-- <span *ngIf="!numero.valid && numero.touched" class="alert">Nº é obrigatório</span> -->
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Rua</mat-label>
                    <input matInput formControlName="rua">
                    <span *ngIf="!formulario.get('endereco.rua').valid && formulario.get('endereco.rua').touched"
                        class="alert">rua é
                        obrigatório </span>
                    <!-- <span *ngIf="!rua.valid && rua.touched" class="alert">Rua é obrigatório</span> -->
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Bairro</mat-label>
                    <input matInput formControlName="bairro">
                    <span *ngIf="!formulario.get('endereco.bairro').valid && formulario.get('endereco.bairro').touched"
                        class="alert">bairro é obrigatório </span>
                    <!-- <span *ngIf="!bairro.valid && bairro.touched" class="alert">Bairro é obrigatório</span> -->
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Cidade</mat-label>
                    <input matInput formControlName="cidade">
                    <span *ngIf="!formulario.get('endereco.cidade').valid && formulario.get('endereco.cidade').touched"
                        class="alert">cidade é obrigatório </span>
                    <!-- <span *ngIf="!cidade.valid && cidade.touched" class="alert">Cidade é obrigatório</span> -->
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="estado">
                        <mat-option *ngFor="let estado of estados | async" [value]="estado.sigla">
                            {{ estado.nome}} </mat-option>
                    </mat-select>
                    <span *ngIf="!formulario.get('endereco.estado').valid && formulario.get('endereco.estado').touched"
                        class="alert">estado é obrigatório </span>
                    <!-- <span *ngIf="!estado.valid && estado.touched" class="alert">Estado é obrigatório</span> -->
                </mat-form-field>
            </mat-grid-tile>
        </div>

        <div class="form-group">
            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Cargo</mat-label>
                    <mat-select formControlName="cargo" [compareWith]="compararCargos">
                        <mat-option *ngFor="let cargo of cargos" [value]="cargo">
                            {{ cargo.desc}} </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
        </div>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Tecnologias</mat-label>
                <mat-select multiple formControlName="tecnologias">
                    <mat-option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome">
                        {{ tecnologia.desc}} </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-label>Newsletter</mat-label>
            <mat-radio-group aria-label="Select an option" formControlName="newsletter">
                <div *ngFor="let item of newsletterOp">
                    <mat-radio-button [value]="item.valor"> {{ item.desc}} </mat-radio-button>
                </div>
            </mat-radio-group>
        </mat-grid-tile>

        <section class="form-group">
            <mat-grid-tile>
                <mat-checkbox class="example-margin" formControlName="termos">Aceito os termos.</mat-checkbox>
                <!-- <span
                    *ngIf="!formulario.get('termos').valid"
                    class="alert">Nome é
                    obrigatório.</span> -->
            </mat-grid-tile>
        </section>

        <mat-grid-tile class="checkbox" colspan="4"> 
            <div class="checkbox"  formArrayName="frameworks"
                *ngFor="let item of formulario.get('frameworks')['controls']; let i = index">
                <mat-checkbox type="checkbox" [formControlName]="i"> {{ frameworks[i] }} </mat-checkbox>
               
            </div>
            <span *ngIf="!formulario.get('frameworks').valid" class="alert"> Selecione uma opção.</span>
        </mat-grid-tile>


    </mat-grid-list>

    <!-- <mat-card-actions style="text-align: center;"> -->
    <div style="text-align: center;">
        <button mat-raised-button color="primary">Submit</button>
        <button class="btn btn-default" mat-raised-button color="basic" (click)="resetar()">Cancel</button>
        <button class="btn btn-info" mat-raised-button color="accent" (click)="setarCargo()">Cargo</button>
        <button class="btn btn-info" mat-raised-button color="accent" (click)="setarTecnologias()">Tecnologias</button>
    </div>
<!-- </mat-card-actions> -->
    <app-form-debug [form]="formulario"></app-form-debug>
</form>